.filterByMana {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 7rem 7rem 7rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  margin-top: 12rem;
}

.crystal__image {
  max-width: 3rem;
  max-height: 3rem;
}

.manaBtn {
  display: block;
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

.manaBtn:hover {
  transform: scale(1.1);
}

@media (min-width: 600px) {
  .filterByMana {
    grid-template-columns: 11rem 11rem 11rem;
    margin-top: 4rem;
  }
  grid-item {
    display: flex;
  }
  .manaBtn {
    margin: auto;
  }

  .crystal__image {
    max-width: 5rem;
    max-height: 5rem;
  }
}

@media (min-width: 800px) {
  .filterByMana {
    grid-template-columns: 11rem 11rem 11rem 11rem;
    margin-top: 6rem;
  }

  .crystal__image {
    max-width: 4rem;
    max-height: 4rem;
  }
}

@media (min-width: 1200px) {
  .filterByMana {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .manaBtn + .manaBtn {
    margin-left: 1.75rem;
  }
}
