.collection {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 0.5rem 20rem 0.5rem;
}
grid-item {
  display: flex;
}
.nextBtn,
.prvBtn {
  align-self: flex-end;
}

.prvBtn,
.nextBtn {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.prvBtn,
.nextBtn,
.cardBtn {
  display: block;
  background: transparent;
  outline: none;
  border: 0;
  transition: transform 200ms ease-in-out;
}

.prvBtn:hover,
.nextBtn:hover,
.cardBtn:hover {
  transform: scale(1.1);
}

.prvBtn[disabled],
.nextBtn[disabled] {
  cursor: not-allowed;
}

.collection__list {
  list-style-type: none;
}
.collection__list--item {
  position: relative;
  max-width: 20rem;
  max-height: 12rem;
}

@media (min-width: 600px) {
  .collection {
    grid-template-columns: 1rem 30rem 1rem;
  }
  .collection__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nextBtn,
  .prvBtn {
    align-self: center;
  }
}

@media (min-width: 800px) {
  .collection {
    grid-template-columns: 2rem 40rem 2rem;
  }
  .collection__list {
    grid-template-columns: 12rem 12rem 12rem;
  }

  li {
    margin-top: 2.5rem;
  }
  .prvBtn,
  .nextBtn {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 1200px) {
  .collection {
    grid-template-columns: 1rem 1fr 1rem;
  }
  .collection__list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 2000px) {
  .collection__list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
